.top {
  display: flex;
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("shared/assets/images/table.jpg");
  background-repeat: round;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bottom {
  display: flex;
  height: 50vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -3px 8px 0 rgba(34, 60, 80, 0.2);
}
