.roomWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  height: calc(100% - 50px);
  width: 100%;
  position: relative;
}

.playersNew {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
  max-width: 600px;
}

.playerNew {
  aspect-ratio: 9 / 16;
  width: 20%;
  height: 20%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
}
