.player {
  aspect-ratio: 9 / 16;
  width: 20%;
  height: 20%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  z-index: 9999;
}

.playerInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  scale: 1;
  transition: all 0.2s ease;
  cursor: pointer;
}

.playerImageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 85%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.image {
  border-radius: 50%;
  box-shadow: 1px 1px 8px 0 rgba(34, 60, 80, 0.2);
  overflow: hidden;
  height: 80%;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 100%;
  gap: 4px;
  font-size: 100%;
  color: var(--text);
  opacity: 0.8;
  font-weight: 300;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.age {
  white-space: nowrap;
  overflow: hidden;
  text-align: end;
  min-width: 17px;
}

.heart {
  position: absolute;
  right: 0;
  top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(10deg);
  height: 35%;
}

.heart svg {
  font-size: 4vh;
}

.counter {
  position: absolute;
  transform: rotate(-10deg);
  color: var(--bg);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 1.7vh;
}

@media screen and (max-height: 700px) {
  .heart {
    right: 1vh;
  }

  .info span {
    font-size: 14px;
  }
}

@media screen and (max-height: 600px) {
  .heart {
    right: 2vh;
  }

  .info span {
    font-size: 12px;
  }
}
