.bottle {
  display: flex;
  transform-origin: center;
  z-index: 7;
  position: relative;
  height: 20%;
}

.bottleImg {
  height: 100%;
  cursor: pointer;
}

.bottleText {
  position: absolute;
  bottom: 33%;
  color: var(--text);
}

@media screen and (max-height: 600px) {
  .bottleText {
    font-size: 12px;
  }
}

@media screen and (max-height: 700px) {
  .bottleText {
    font-size: 14px;
  }
}
